<% @interview.errors.full_messages.each do |message| %>
	<p class="msg-error"><%= message %></p>
<% end %>

<div class="form">
	<%= form_with model: [@job_opportunity, @candidate, @interview], local: true do |f| %>
		<div class="field-submit">
			<%= f.label :interview_date %>
			<%= f.date_field :interview_date %>
		</div>
		<div class="field-submit">
			<%= f.label :hour %>
			<%= f.time_field :hour %>
		</div>
		<div class="field-submit">
			<%= f.label :address %>
			<%= f.text_area(:address, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		<button class="submit-form" type="submit">Convidar</button>
	<% end %>
</div>
