<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunity_path(@job_opportunity) %></h3>

<div class="form-session">
	<h1>Nova entrevista</h1>
	<h4>Vaga: <%= @job_opportunity.title %></h4>
	<h4>Candidato: <%= @candidate.full_name %> - <%= @candidate.profession %></h4>

	<%= render "form" %>
</div>
