<% @candidate.errors.full_messages.each do |message| %>
	<p class="msg-error"><%= message %></p>
<% end %>

<div class="form">
	<%= form_with model: @candidate, local: true do |f| %>
		<div class="field-submit">
			<%= f.label :full_name %>:
			<%= f.text_field :full_name %>
		</div>
		<div class="field-submit">
			<%= f.label :social_name%>:
			<%= f.text_field :social_name %>
		</div>
		<div class="field-submit">
			<%= f.label :date_of_birth%>:
			<%= f.date_field :date_of_birth %>
		</div>
		<div class="field-submit">
			<%= f.label :profession %>:
			<%= f.text_field :profession  %>
		</div>
		<div class="field-submit">
			<p><%= f.label :profile_description %>:</p>
			<%= f.text_area(:profile_description, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		<div class="field-submit">
			<p><%= f.label :experience%>:</p>
			<%= f.text_area(:experience, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		<div class="field-submit">
			<p><%= f.label :formation %>:</p>
			<%= f.text_area(:formation, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		
		<div class="selectors">
			<div class="field">
				<%= f.label :level_id %>:
				<%= f.collection_select :level_id, @levels, :id, :name %>
			</div>
		</div>
		<div class="field-submit">
			<p><%= f.label :courses %>:</p>
			<%= f.text_area(:courses, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		<div>
			<%= f.label :avatar %>:
			<%= f.file_field :avatar %>
		</div>

		<button class="submit-form" type="submit">Enviar Perfil</button>
	<% end %>
</div>
