<div class="apply-div">
  <h1>Encontre o Melhor Perfil</h1>

  <%= render "search_field" %>

  <% if @candidates.empty? %>
    <p><%= 'Nenhum perfil cadastrado' %></p>
  <% end %>

  <% if @candidates.size > 0 %>
	<p class="size-of-object">Candidatos na plataforma: <%= @candidates.size %><p>
  <% end %>

  <div class="all-cards-interview">
    <% @candidates.each do |candidate| %>
         <div class="each-card-candidate">
	        <div>
		  <% if candidate.avatar.present? %>
			<%= image_tag(candidate.avatar, size: "210x200", alt: "Foto de perfil do candidato", class: "avatar") %>
		  <% else %>
			<%= image_tag("sem-imagem-avatar.png", size: "210x200", alt: "Sem foto de perfil", class: "avatar") %>
		  <% end %>
		</div>
	        <div class="description-candidate">
		  <p><%= link_to candidate.full_name, candidate %></p>
		  <p><%= candidate.profession %></p>
		  <p><%= candidate.level.name %></p>
		</div>
	  </div>
   <% end %>
  </div>
</div>
