<h3 class="link-to-back"><%= link_to 'Voltar', candidates_path %></h3>

<%= render "search_field" %>

<% @candidates.each do |candidate| %>
	<div>
	  <% if candidate.avatar.present? %>
		<%= image_tag(candidate.avatar, size: "320x200", alt: "Foto de perfil do candidato") %>
	  <% else %>
		<%= image_tag("sem-imagem-avatar.png", size: "320x200", alt: "Sem foto de perfil") %>
	  <% end %>
	</div>

	 <p><%= candidate.full_name %></p>
	 <p><%= candidate.profession %></p>
         <p><%= candidate.level.name %></p>
<% end %>

<% if @candidates.empty? %>
	<p class="msg-error"><%= "Nenhum resultado encontrado para: #{@q}" %></p>
<% end %>

