<% if user_signed_in? %>
	<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunities_path %></h3>
<% end %>

<% if headhunter_signed_in? %>
	<h3 class="link-to-back"><%= link_to 'Voltar', candidates_path %></h3>
<% end %>

<div class="div-profile">

	<%= render 'profile' %>

	<%= render 'comments' %>

	<% if user_signed_in? %>
		<div class="button-edit-delete">
			<p class="edit">
				<%= link_to 'Editar Perfil', edit_candidate_path(@candidate), 
					id: "edit-#{@candidate.id}"%></p>
			<p class="delete"><%= link_to 'Deletar Perfil', 
				candidate_path(@candidate) , method: :delete, id: "delete-#{@candidate.id}"%></p>
		</div>
	<% else %>
		<p><%= link_to 'Enviar Proposta', new_candidate_proposal_path(@candidate)%></p>
	<% end %>
</div>
