<div class="form">
	<%= form_with model: [@candidate, @proposal, @awnser_proposal], local: true do |f| %>
		<div class="field-submit">
			<p><%= f.label :awnser_message %>:</p>
			<br/>
			<%= f.text_area(:awnser_message, cols: 40, rows: 5, class: 'app_input') %>
		</div>
		
		<div class="field-submit">
			<%= f.label :choice_id %>
			<%= f.collection_select :choice_id, @choices, :id, :option %>
		</div>

		<button class="submit-form" type="submit">Enviar Feedback</button>
	<% end %>
</div>
