<% @proposal.errors.full_messages.each do |message| %>
	<p class="msg-error"><%= message %></p>
<% end %>


<%= form_with model: [@candidate, @proposal], local: true do |f| %>

	<h4>Selecione uma de suas vagas</h4>

	<div class="selectors">
		<div class="field">
			<%= f.label :job_opportunity_id %>
			<%= f.collection_select :job_opportunity_id, @jobs, :id, :title %>
		</div>
	</div>

	<h4>Escreva uma proposta ao canditato</h4>
	<div class="field">
		<%= f.label :message %>
		<%= f.text_area :message %>
	</div>
	<button class="button-enviar-form" type="submit">Publicar</button>
<% end %>
