<h3 class="link-to-back"><%= link_to 'Voltar', root_path %></h3>

<div class="job-div">
  <h1>Propostas</h1>

  <% if @proposals.empty? %>
    <p class="msg-error"><%= 'Nenhuma proposta foi enviada pra você' %></p>
  <% end %>

  <div class="job-cards">
    <% @proposals.each do |proposal| %>
	<div class="description-candidate">
	  <p>Vaga: <%= link_to proposal.job_opportunity.title, proposal.job_opportunity %></p>
	  <p>Data de Envio: <%= l proposal.created_at, format: :short %></p>
	  <p>Status do Processo: 
		<%= Proposal.human_attribute_name("status.#{proposal.status}") %>
	  </p>

	  <%= link_to "Enviar Feedback", 
				new_candidate_proposal_awnser_proposal_path(@candidate, proposal) %>
	</div>
   <% end %>
  </div>
</div>
