<h3 class="link-to-back"><%= link_to 'Voltar', job_opportunity_path(@job_opportunity) %></h3>

<h1>Informações da Candidatura:</h1>

<p><%= @job_opportunity.title %></p>
<p><%= @apply_job.message %></p>
<p><%= @apply_job.created_at %></p>
<p>Status do Processo: <%= ApplyJob.human_attribute_name("feedback.#{@apply_job.feedback}") %></p>

<p><%= link_to 'Editar Informações', edit_job_opportunity_apply_job_path(@job_opportunity), id: "edit-#{@job_opportunity.id}"%></p>
<p><%= link_to 'Retirar minha candidatura', [@job_opportunity, @apply_job] , method: :delete, id: "delete-#{@job_opportunity.id}"%></p>
