<h4>Feedbacks dos candidatos para esta vaga</h4>

<% @awnser_proposals.each do |awnser| %>
	<%= @job.title %>
	<%= Proposal.human_attribute_name("status.#{awnser.proposal.status}") %>
	<% if awnser.proposal.accepted? %>
		<%= link_to "Agendar Entrevista", 
			new_job_opportunity_candidate_interview_path(@job, awnser.proposal.candidate) %>
	<% end %>
	<%= awnser.awnser_message %>
	<%= link_to awnser.proposal.candidate.full_name, awnser.proposal.candidate %>
<% end %>
