<div class="div-info-job">
	<p class="title"><%= @job.title %></p>
	
	<div class="description-job">
		<div>
			<p><%= @job.company %></p>
			<p><%= @job.region %></p>
		</div>
		<div>
			<p><%= number_to_currency @job.salary_range %></p>
			<p><%= @job.level.name %></p>
		</div>
	</div>
</div>
<div class="even">
	<h4><%= JobOpportunity.human_attribute_name(:deadline) %></h4>
	<p><%= @job.deadline && localize(@job.deadline)%></p>
</div>
<div class="old">
	<h4>Data de Publição</h4>
	<p><%= l @job.created_at, format: :short %></p>
</div>
<div class="even">
	<h4><%= JobOpportunity.human_attribute_name(:description_job) %></h4>
	<p><%= @job.description_job %></p>
</div>
<div class="old">
	<h4><%= JobOpportunity.human_attribute_name(:skills) %></h4>
	<p><%= @job.skills %></p>
</div>
<div class="even">
	<h4><%= JobOpportunity.human_attribute_name(:benefits) %></h4>
	<p><%= @job.benefits %></p>
</div>
<div class="old">
	<h4><%= JobOpportunity.human_attribute_name(:office_functions) %></h4>
	<p><%= @job.office_functions %></p>
</div>
<div class="even">
	<h4><%= JobOpportunity.human_attribute_name(:company_expectations) %></h4>
	<p><%= @job.company_expectations %></p>
</div>
