<div class="job-div">
	<h1>Vagas Cadastradas</h1>

	<% if headhunter_signed_in? %>
		<h3 class="link-new-job"><%= link_to 'Cadastrar nova Vaga', new_job_opportunity_path %></h3>
	<% end %>

        <%= render "search_field" %>

	<% if @jobs.empty? %>
		<p class="msg-error"><%= 'Nenhuma vaga cadastrada' %></p>
	<% end %>

	<% if @jobs.size > 0 %>
		<p class="size-of-object">Quantidade de vagas cadastradas: <%= @jobs.size %><p>
	<% end %>
	<div class="job-cards">
		<% @jobs.each do |job| %>
			<div class="each-job">
				<p class="job-title-home"><%= link_to job.title, job %></p>

				<p><%= job.company %> - <%= job.region %> </p>
				<p><%= number_to_currency job.salary_range %> - <%= job.level.name %></p>
				<p class="details-job-home"><%= link_to 'Detalhes da Vaga', job , id: "details-#{job.id}"%></p>
			</div>
		<% end %>
	</div>
</div>
