<!DOCTYPE html>
<html>
	<head>
		<title>Vagas de Emprego</title>
		<link rel="icon" href="https://pbs.twimg.com/profile_images/1222171329564151808/kr7p_kEz_400x400.jpg"/>

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>	
		<meta charset="UTF-8">
		<%= stylesheet_link_tag "home" %>
		<%= stylesheet_link_tag "session_user" %>
		<%= stylesheet_link_tag "session_headhunter" %>
		<%= stylesheet_link_tag "jobs" %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
    	<nav class="menu">
		<div class="logo"><%= image_tag("logo.png", size: "125x35", alt: "Logo")%></div>

		<% if user_signed_in? %>
			<% candidate = Candidate.find_by(user: current_user)%>
			<% if candidate %>
				<li><%= link_to 'Home', root_path%></li>
				<div class="dropdown">
					<button>Recursos para Candidato</button>
					<div class="dropdown-content">
						<li><%= link_to 'Lista de Vagas', job_opportunities_path %></li>
						<li><%= link_to 'Minhas Vagas', apply_jobs_path %></li>
						<li><%= link_to 'Minhas Propostas', 
							candidate_proposals_path(candidate) %>
						</li>
						<li><%= link_to 'Meu Perfil', candidate_path(candidate) %></li>
					</div>
				</div>
			<% end %> 
			<li class="li-sair"><%= link_to 'Sair', destroy_user_session_path, method: :delete%></li>
		<% else %>
			<li><%= link_to 'Home', root_path%></li>
			<% if headhunter_signed_in? %>
				<div class="dropdown">
					<button>Recursos para Recrutador</button>
					<div class="dropdown-content">
						<li><%= link_to 'Lista de Candidatos', candidates_path %></li>
						<li><%= link_to 'Minhas Vagas', root_path%></li>
					</div>
				</div>

				<li class="li-sair"><%= link_to 'Sair', destroy_headhunter_session_path, method: :delete%></li>
			<% end %>
		<% end %> 
	</nav>

		<% if flash[:notice] %>
			<p class="msg-alert"><%= flash[:notice] %></p>
		<% end %>

		<% if flash[:alert] %>
			<p class="msg-error"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>
	</body>
</html>
