<!DOCTYPE html>
<html>
	<head>
		<title>Vagas de Emprego</title>
		<link rel="icon" href="https://pbs.twimg.com/profile_images/1222171329564151808/kr7p_kEz_400x400.jpg"/>

		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
    	<nav class="menu">
		<div class="logo"><%= image_tag("logo.png", size: "150x50", alt: "Logo")%></div>
		<li><%= link_to 'Home', root_path%></li>
	</nav>

		<% if flash[:notice] %>
			<p class="msg-alert"><%= flash[:notice] %></p>
		<% end %>

		<% if flash[:alert] %>
			<p class="msg-error"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>
	</body>
</html>
